{{- if and .TransientPayload (index .TransientPayload "render_as_verification") -}}
{{- if and .TransientPayload (index .TransientPayload "subject") -}}
{{ index .TransientPayload "subject" }}
{{- else -}}
{{ .Tenant }} OTP - Expires in {{ .ExpiresInMinutes }} minutes
{{- end -}}
{{- else -}}
{{ .Tenant }} OTP
{{- end -}}
