Pelanggan Yang Terhormat,

Untuk autentikasi, silakan gunakan One Time Password (OTP) berikut dari {{ .Tenant }}:

{{ .RegistrationCode }}

OTP Anda berlaku selama {{ .ExpiresInMinutes }} menit. Jangan bagikan OTP ini kepada siapa pun. {{ .Tenant }} sangat menjaga keamanan akun Anda.