{{- if and .TransientPayload (index .TransientPayload "render_as_verification") -}}
{{- if and .TransientPayload (index .TransientPayload "subject") -}}
{{ index .TransientPayload "subject" }}
{{- else -}}
{{ .Tenant }} OTP - Hết hạn sau {{ .ExpiresInMinutes }} phút
{{- end -}}
{{- else -}}
{{ .Tenant }} OTP
{{- end -}}
