{{- if and .TransientPayload (index .TransientPayload "render_as_verification") -}}
{{- if and .TransientPayload (index .TransientPayload "subject") -}}
{{ index .TransientPayload "subject" }}
{{- else -}}
{{ .Tenant }} OTP - Het han sau {{ .ExpiresInMinutes }} phut
{{- end -}}
{{- else -}}
{{ .Tenant }} OTP
{{- end -}}
