Dear Valued Customer,

To authenticate, please use the following One Time Password (OTP) from {{ .Tenant }}:

{{ .LoginCode }}

Your OTP will be valid for {{ .ExpiresInMinutes }} minutes. 
Do not share this OTP with anyone. {{ .Tenant }} takes your account security very seriously.