{{- if and .TransientPayload (index .TransientPayload "render_as_verification") -}}
{{- if and .TransientPayload (index .TransientPayload "subject") -}}
{{ index .TransientPayload "subject" }}
{{- else -}}
[{{ .Tenant }}] Use code {{ .RegistrationCode }} to verify your account
{{- end -}}
{{- else -}}
[{{ .Tenant }}] Use code {{ .RegistrationCode }} to complete your account registration
{{- end -}}
