Kính gửi Quý Khách hàng,

Để xác thực, vui lòng sử dụng mã OTP sau từ {{ .Tenant }}:

{{ .LoginCode }}

Mã OTP của bạn sẽ có hiệu lực trong {{ .ExpiresInMinutes }} phút.  
Không chia sẻ OTP này với bất kỳ ai. {{ .Tenant }} rất coi trọng sự bảo mật tài khoản của bạn.