{{- $renderAsVerification := and .TransientPayload (index .TransientPayload "render_as_verification") -}}
Dear valued customer,
{{ if $renderAsVerification }}{{ if and .TransientPayload (index .TransientPayload "action_description") }}
We have received a request to {{ index .TransientPayload "action_description" }}.
{{ else }}
We have received a verification request from {{ .Tenant }}.
{{ end }}
For security, please confirm by entering the following One Time Password (OTP) in the app:
{{ else }}
To authenticate, please use the following One Time Password (OTP) from {{ .Tenant }}:
{{ end }}

{{ .RegistrationCode }}

Your OTP will be valid for {{ .ExpiresInMinutes }} minutes.
Do not share this OTP with anyone. {{ .Tenant }} takes your account security very seriously.{{ if $renderAsVerification }}

If you did not initiate this request, please ignore this email and contact support@lifenetwork.ai.{{ end }}

---------------------------------------------

Kinh gui Quy Khach hang,
{{ if $renderAsVerification }}{{ if and .TransientPayload (index .TransientPayload "action_description") }}
Chung toi vua nhan duoc yeu cau {{ index .TransientPayload "action_description" }}.
{{ else }}
Chung toi vua nhan duoc yeu cau xac thuc tu {{ .Tenant }}.
{{ end }}
De bao mat, vui long xac nhan bang cach nhap ma OTP duoi day trong ung dung:
{{ else }}
De xac thuc, vui long su dung ma OTP sau tu {{ .Tenant }}:
{{ end }}

{{ .RegistrationCode }}

Ma OTP cua ban se co hieu luc trong {{ .ExpiresInMinutes }} phut.
Vui long khong chia se ma OTP nay voi bat ky ai. {{ .Tenant }} rat coi trong su bao mat tai khoan cua ban.{{ if $renderAsVerification }}

Neu ban khong thuc hien yeu cau nay, vui long bo qua email va lien he support@lifenetwork.ai.{{ end }}
